.hero-contato {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 300px;
}

.contato-texto {
    display: flex;
}

.contato-titulo h2 {
    width: 350px;
    margin-right: 125px;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;

}

.contato-paragrafo p {
    padding-bottom: 54px;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    opacity: 0.8;
}

.contato-paragrafo a {
    padding-right: 15px;
}

.contato-button {
    display: flex;
    justify-items: auto;
    padding-top: 96px;

}

.contato-button-titulo h2 {
    width: 350px;
    margin-right: 125px;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
}

.contato-button-inputs{
    display: flex;
    flex-direction: column;
    width: 635px;
}

.input-nome, .input-email, .input-mensagem {
    display: flex;
    flex-direction: column;
}

label {
    padding-bottom: 8px;
    
}

.input-nome input {
    all: unset;
    width: 635px;
    height: 30px;
    background: #ccccd1;
    margin-bottom: 24px;    
}

.input-email input {
    all: unset;
    width: 635px;
    height: 30px;
    background: #ccccd1;
    margin-bottom: 24px;    
}

.input-mensagem input {
    all: unset;
    width: 635px;
    height: 96px;
    background: #ccccd1;
    margin-bottom: 24px;    
}

.contato-button-inputs button {
    all: unset;
    width: 200px;

    padding: 17px 24px;
    background: #203A4C;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;


}